extends ../layout.pug
block header 
  div.bookmarks-header
    h1 See who you remarked
    span 
      i(class="fa-regular fa-bell" style="color: #212121;")
block content 
  section.category-container
    h5 All 
    span 
      i(class="fa-solid fa-filter" style="color: #212121;")
    //- Toggling to choose a category
  ul.avatars 
    //- Click each items: Showing Each Profile details
    li.avatar-item 
      a(href="./profile-details.html") Sara Stylist
        img(src="" alt="Sara")
    //- Hover each items: showing About Me text
block navbar
  include ../components/navbar.pug