extends ../layout.pug
block stylesheet 
  //- include ../intro.scss
block content
  div.title
    include ../components/header.pug 
  h2.intro-copy Unleash Potential, Connect, and Create in Berlin
  div.button
    a(href="./login.html") Get Started