extends ../layout.pug
block content 
  h4.welcome-text Welcome, you talent
  ul.auth-container 
    li Facebook
      i(class="fa-brands fa-facebook" style="color: #212121;")
    li LinkedIn 
      i(class="fa-brands fa-linkedin" style="color: #212121;")
    li Google 
      i(class="fa-brands fa-google" style="color: #212121;")
  //- Authentication logic
  div.email-container
    form(action="./home.html")
      input(type="text" placeholder="Email" name="email")
      input(type="password" id="password" placeholder="Password" name="password")
      span 
        i(class="fa-regular fa-eye-slash" style="color: #212121;")
      //- a(href='./home.html') Log In 
      input(type="submit" value="Log In")
    //- Login form logic
  p.join-text Don't have an account?
  a(href="") Join Berlin's Creative Hub 
  //- Signup logic or just with auth above
