nav
  ul 
    li: a(href="./bookmarks.html") Bookmark
      i(class="fa-regular fa-bookmark" style="color: #212121;")
    li: a(href="./explore.html") Explore
      i(class="fa-solid fa-globe" style="color: #212121;")
    li: a(href="./home.html") Home
      i(class="fa-solid fa-house" style="color: #212121;")
    li: a(href="./chat.html") Chat
      i(class="fa-regular fa-message" style="color: #212121;")
    li: a(href="./my-profile.html") Profile
      i(class="fa-regular fa-user" style="color: #212121;")