doctype html 
html
  head 
    title SYN Berlin
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    script(src="https://kit.fontawesome.com/a3c8542395.js" crossorigin="anonymous")
    block stylesheet
  body 
    block header 
    block content 
    block navbar
    //- sticky navbar
  //- script(src="somescript.js")
  